html,
body {
    background-color: black;
}

* {
    box-sizing: border-box;
    font-family: FangSong;
    font-size: 15px;
}

#wrapper {
    width: 500px;
    margin: 0 auto;
}

.envelope {
    width: 365px;
    height: 280px;
    margin: 200px 0 0;
    background: rgb(0, 0, 0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.5), 0 1px 3px rgba(0, 0, 0, 0.25);
    position: center;
    perspective: 800px;
}

.envelope .letter {
    position: absolute;
    left: -1;
    top: -1;
    width: 365px;
    height: 265px;
    background: rgb(0, 0, 0);
    border: 1px solid rgb(0, 0, 0);
    z-index: 1;
    animation-fill-mode: forwards;
    transform-style: preserve-3d;
}


/* .envelope.open .letter {
    animation-name: remove;
  }*/

.envelope .before {
    position: absolute;
    width: 365px;
    height: 51%;
    background: rgb(255, 255, 255);
    animation-duration: 3s;
    animation-delay: 2.4s;
    animation-fill-mode: forwards;
    -webkit-transform-origin-y: top;
    z-index: 4;
    transform-origin-y: top;
    transform-style: preserve-3d;
    transform: rotateX(10deg);
}

.envelope .after {
    position: absolute;
    top: 280px;
    width: 365px;
    height: 51%;
    background: rgb(255, 255, 255);
    animation-duration: 3s;
    animation-delay: 2.4s;
    z-index: 3;
    animation-fill-mode: forwards;
    -webkit-transform-origin-y: top;
    transform-origin-y: top;
    transform-style: preserve-3d;
    transform: rotateX(170deg);
}

.envelope.open .before {
    animation-name: fold-up;
}

.envelope.open .after {
    animation-name: fold-down;
}

@keyframes fold-up {
    from {}
    to {
        transform: rotateX(360deg);
        z-index: -1;
        left: 1px;
        background: rgb(0, 0, 0);
    }
}

@keyframes fold-down {
    from {}
    to {
        transform: rotateX(-180deg);
        z-index: -1;
        left: 1px;
        background: rgb(0, 0, 0);
    }
}

#reset:hover {
    opacity: 0.8;
}

#reset:active {
    background: linear-gradient(#ccc, #eee);
}