html,
body {
    background-color: black;
}

* {
    box-sizing: border-box;
    font: 20px/1.5em "Microsoft YaHei";
    font-size: 15px;
}

#wrapper {
    width: 365px;
    margin: 0 auto;
    text-align: center;
}

.envelope {
    width: 365px;
    height: 280px;
    /* margin: 200px 0 0; */
    background: rgb(0, 0, 0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.5), 0 1px 3px rgba(0, 0, 0, 0.25);
    position: center;
    perspective: 800px;
}

.envelope .letter {
    /* position: absolute; */
    left: -1;
    top: -1;
    width: 365px;
    height: 265px;
    background: rgb(0, 0, 0);
    border: 1px solid rgb(0, 0, 0);
    z-index: 1;
    animation-fill-mode: forwards;
    transform-style: preserve-3d;
}


/* .envelope.open .letter {
    animation-name: remove;
  }*/

.envelope .before {
    position: absolute;
    width: 365px;
    height: 51%;
    background: rgb(255, 255, 255);
    animation-duration: 3s;
    animation-delay: 2.4s;
    animation-fill-mode: forwards;
    -webkit-transform-origin-y: top;
    z-index: 4;
    transform-origin-y: top;
    transform-style: preserve-3d;
    transform: rotateX(10deg);
}

.envelope .after {
    position: absolute;
    /* text-align: center; */
    top: 285px;
    width: 365px;
    height: 51%;
    background: rgb(255, 255, 255);
    animation-duration: 3s;
    animation-delay: 2.4s;
    z-index: 3;
    animation-fill-mode: forwards;
    -webkit-transform-origin-y: top;
    transform-origin-y: top;
    transform-style: preserve-3d;
    transform: rotateX(170deg);
}

.envelope.open .before {
    animation-name: fold-up;
}

.envelope.open .after {
    animation-name: fold-down;
}

@keyframes fold-up {
    from {}
    to {
        transform: rotateX(360deg);
        z-index: -1;
        left: 1px;
        background: rgb(0, 0, 0);
        visibility: hidden;
    }
}

@keyframes fold-down {
    from {}
    to {
        transform: rotateX(-180deg);
        z-index: -1;
        left: 1px;
        background: rgb(0, 0, 0);
        visibility: hidden;
    }
}

.card {
    z-index: 1;
    float: left;
    /* width: 33%; */
    /* height: 300px; */
    border-radius: 5px;
    position: relative;
    transition: 0.5s;
    transform-style: preserve-3d;
}

.card>.front {
    font-size: 2rem;
    width: 100%;
    height: 265px;
    line-height: 300px;
    border-radius: 5px;
    float: left;
    position: relative;
    z-index: 10;
    backface-visibility: hidden;
    background:url(../img/invitation.jpg) no-repeat left top;
    background-size: 360px 265px;
}

.card>.back {
    border-radius: 5px;
    position: absolute;
    width: 100%;
    height: 265px;
    z-index: 2;
    transform: rotateY(180deg);
    backface-visibility: hidden;
    background:url(../img/card.jpg) no-repeat left top;
    background-size: 360px 265px;
}

/* .card:hover {
    transform: rotateY(180deg);
} */

.text {
    color: #bf8c51;
    font: 20px/1.5em "Microsoft YaHei";
}

.vcenter {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}