* {
    font-family: YaHei
}

html,
body {
    background-image: url("../img/phonebackground.jpg");
    background-size: 100%,100%;
    width: 100%;
    height: 100%;
    background-repeat: round;
}

#container {
    width: 500px;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    z-index: 999
}

#output {
    width: 100%;
    height: 100%
}

.prompt {
    width: 60%;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-family: microsoft yahei, Arial, sans-serif;
    font-size: 13px;
    color: #df0000
}

.containerT {
    text-align: center;
    border-radius: 3px;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
form {
    padding: 20px 0;
    position: relative;
    z-index: 2
}

form input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: 0;
    position: center;
    border: 1px solid rgba(255, 255, 255, .4);
    background-color: rgba(255, 255, 255, .2);
    width: 300px;
    border-radius: 3px;
    padding: 8px 15px;
    margin: 0 auto 10px;
    display: block;
    text-align: center;
    font-size: 15px;
    color: #fff;
    -webkit-transition-duration: .25s;
    transition-duration: .25s;
    font-weight: 300
}

form input:hover {
    background-color: rgba(255, 255, 255, .4)
}

form input:focus {
    background-color: #fff;
    width: 350px;
    color: #333
}

form button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: center;
    outline: 0;
    background-color: #000000;
    border: 0;
    padding: 10px 15px;
    color: rgb(255, 255, 255);
    border-radius: 3px;
    width: 75px;
    cursor: pointer;
    font-family: microsoft yahei, Arial, sans-serif;
    font-size: 15px;
    font-weight: 700;
    -webkit-transition-duration: .25s;
    transition-duration: .25s
}

form button:hover {
    background-color: #0e2a86
}